{% extends "base.html" %}

{% block content %}
{% if current_user.role == "Teacher" %}
<table class="my_table">
    <tr>
        <th>#</th>
        <th>Учитель</th>
        <th>Класс</th>
        <th>Текущие урок</th>
        <th class="last_col"></th>
    </tr>
    {% for a_class in a_classes %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>{{ a_class.teachers.users.name + " " + a_class.teachers.users.surname }}</td>
            <td>{{ a_class.title }}</td>
            <td>
                {% for lesson in lessons[a_class.title] %}{{ lesson.title }}{% if not loop.last %}, {% endif %}{% endfor %}
            </td>
            <td class="last_col">
                <a class="btn btn-primary" href="/lessoncreate/{{ a_class.id }}">Добавить урок</a>
            </td>
        </tr>
    {% endfor %}

</table>
<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        background: #e8d1c8;
        max-width: 50%;
        width: 50%;
        border-collapse: collapse;
        border-radius: 8px 8px 8px 8px;
    }
    td, th {
        padding: 10px;
    }
    .last_col {
        background-color: white;
        border: 1px solid white;
    }
</style>
{% endif %}
{% endblock %}