{% extends "base.html" %}

{% block content %}
<table class="my_table">
    <tr>
        <th>#</th>
        <th>Название урока</th>
        <th>Роль урока</th>
        <th>Дата</th>
        <th>Для класса</th>
        <th>Выполнившие ученики</th>
    </tr>
    {% for lesson in lessons %}
        <tr>
            <td scope="row">{{ loop.index }}</td>
            <td>{{ lesson[0] }}</td>
            <td>{{ lesson[1] }}</td>
            <td>{{ lesson[2] }}</td>
            <td>{{ lesson[3] }}</td>
            <td>
                {% for std in lesson[4] %}
                {{ std[0].name }} {{ std[0].surname }} - {{ std[1] }} %</br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}

</table>
<style>
    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        background: #e8d1c8;
        max-width: 50%;
        width: 50%;
        border-collapse: collapse;
        border-radius: 8px 8px 8px 8px;
    }
    td, th {
        padding: 10px;
    }
</style>
{% endblock %}