{% extends "base.html" %}

{% block content %}
{% for line in data %}
    {% if loop.first %}
        <h1>{{ line }}</h1>
    {% elif line[0] == "[" and line[-1] == "]" %}
        <img src="{{ url_for('static', filename='img/' + line[1:-1]) }}">
    {% else %}
        <p>{{ line }}</p>
    {% endif %}
{% endfor %}
<a href="/readtest/{{ to_task }}" class="btn btnn btn-dark">Пройти тестирование</a>
<style>
    img {
        height: 400px;
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    p, h1 {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        word-wrap: break-word;
        line-height: 135%;
    }
    .btnn {
        color: white;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .btnn:hover{background: rgb(120,120,120); }
</style>
{% endblock %}