{% extends "base.html"%}

{% block content %}
<style>
    .rght{
      right: 95%;
    } 
  
   .txxt {
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 12%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
   }
   .txxt:hover {
    background: #786b59; /* Цвет фона */ 
  }
  .dell{
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 19%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px  solid #333; /* Параметры рамки */ 
  }
  .dell:hover{
    background: #786b59; /* Цвет фона */
}
  .send{
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 26%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px  solid #333; /* Параметры рамки */ 
  }
  .send:hover{
  	background: #786b59; /* Цвет фона */
  }
  .dell:hover{
    background: #786b59; /* Цвет фона */ 
  }
   
 </style>
  <script src="{{ url_for('static', filename='scrpt.js', v=1)}}"></script>
  <input type="button" value="Add Question" class="txxt" onclick="addtxxt();">
  <input type="button" value="Remove" class="dell" onclick="removestuff();">
  <form method="post">
  <input type="hidden" name="lesson_id" value="{{ lesson_id }}">
  <input type="submit" value="Save Test" class="send">
  <div id="block-1">Test</br></div>
  </form>
{% endblock %}