{% extends "base.html"%}

{% block content %}
<style>
    .rght{
      right: 95%;
    } 
  
   .txxt {
    width: 250px;
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 12%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px solid #333; /* Параметры рамки */ 
   }
   .txxt:hover {
    background: #786b59; /* Цвет фона */ 
  }
  .dell{
    width: 250px;
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 19%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px  solid #333; /* Параметры рамки */ 
  }
  .dell:hover{
    background: #786b59; /* Цвет фона */
}
  .send{
    width: 250px;
    position: fixed; /* Фиксированное положение */
    right: 1%; /* Расстояние от правого края окна браузера */
    top: 26%; /* Расстояние сверху */
    padding: 1%; /* Поля вокруг текста */ 
    background: #ffe; /* Цвет фона */ 
    border: 1px  solid #333; /* Параметры рамки */ 
  }
  .send:hover{
  	background: #786b59; /* Цвет фона */
  }
  .dell:hover{
    background: #786b59; /* Цвет фона */ 
  }
   

</style>
<script src="{{ url_for('static', filename='scrpt.js', v=4)}}"></script>
<input type="button" value="Добавить задание" class="txxt" onclick="addtxxt();">
<input type="button" value="Удалить последнее задание" class="dell" onclick="removestuff();">
<form class="ml-3 mt-3" method="post">
    {% if message %}<div class="text-danger mb-2">*{{ message }}</div>{% endif %}
    <input type="hidden" name="lesson_id" value="{{ lesson_id }}">
    <input type="submit" value="Сохранить тест" class="send">
    <div id="block-1"><h3>Создание теста</h3></br></div>
</form>
{% endblock %}